body {
    color: darkcyan;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBb0qQwC_v1WGbBOglWJGkKs-umq0stM1iNeBkhIzqW9uGvk2R');
    background-repeat: no-repeat;
    background-size: 1536px;
    background-attachment: fixed;
    background-position: center;
} 